form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input[type="password"] {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
}

label {
    font-weight: bold;
}

p.message {
    text-align: center;
    padding: 10px;
    border-radius: 8px;
}

p.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 20px;
    margin-left: 258px;
    margin-right: 258px;
}

p.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    padding: 20px;
    margin-left: 258px;
    margin-right: 258px;
}

button.bouton_a {
    padding: 15px;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
}

.input-oeil {
    position: relative;
    width: 100%;
}

.input-oeil input {
    width: 100%;
    padding-right: 40px;
    height: 45px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1em;
    line-height: 45px;
}

.input-oeil i {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #777;
    font-size: 1.2em;
    pointer-events: auto;
}
